@font-face {
    font-family: "numberBold";
    src: url('~@/common/font/DINCondensedBold.woff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangM";
    src: url('~@/common/font/PingFangMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangR";
    src: url('~@/common/font/PingFangRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangS";
    src: url('~@/common/font/PingFang-SC-Semibold-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSL";
    src: url('~@/common/font/PingFangLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}