@font-face {
    font-family: "numberBold";
    src: url("./DINCondensedBold.woff.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangM";
    src: url("./PingFangMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangR";
    src: url("./PingFangRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangS";
    src: url("./PingFang-SC-Semibold-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSL";
    src: url("./PingFangLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}